# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Autoconf - probably non-exhaustive
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
gargoyle_config
gargoyle_pscand
gargoyle_pscand_analysis
gargoyle_pscand_monitor
gargoyle_pscand_unblockip
gargoyle_lscand_bruteforce
gargoyle_lscand_bruteforce_detect
gargoyle_lscand_ssh_bruteforce
gargoyle_shared_config_test
gargoyle_pscand_remove_from_whitelist
gargoyle_pscand_remove_from_blacklist
install-sh
lib/.deps/
lib/.dirstamp
missing
stamp-h1

*.swp
.Po
*.pyc

lib/libgargoyleiptableswrapper.so.1
lib/libgargoylesqlitewrapper.so.1
lib/libsharedconfig.so.1
test_*.cpp
*BKUP
Makefile_*
